.aboutUsWrapper {
  background-color: var(--color-black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  width: 100%;
  z-index: 2;
  @media screen and (max-width: 1150px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.dividerGuitar {
  margin: 2rem 2rem;
  img {
    height: 600px;
  }
  @media screen and (max-width: 1150px) {
    img {
      height: 300px;
    }
  }
}

.history {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  inset: 0;
  z-index: 0;
}
